# Optional overrides. If not supplied, the first row from data/IM_DPL1.csv is used.
BASE_URL=https://ntqatracker.iterationm.com/
USERNAME_ADMIN=laiba
PASSWORD_ADMIN=Password@123456
FILE_PROCESSING_CUSTOMER=Verizon Customer
FILE_PROCESSING_SEARCH_ID=953f3dac-c29c-4e2d-b355-7f278e8865aa
FILE_PROCESSING_FILENAME=Stanford_IM_Response_2024-09-03 06:42:39.txt
FILE_PROCESSING_ALL_ENTRIES=VeriZonPayment
